body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
img {
    max-width: 100%;
}
ul{
    list-style: none;
}
body {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 0 !important;
}
li a {
    text-decoration: none;
}
