<template>
  <div id="1">
    <article>
      <h1>{{title.text}}</h1>
      <card v-for="(card, i) in contents"
            v-bind:card="card"
            v-bind:key="i"></card>
    </article>
  </div>
</template>

<script>
import Card from "@/components/District/Card";
import Image1 from "@/assets/image/image 55.png"
import Image2 from "@/assets/image/image 56.png"

export default {
  name: "Content",
  components:{
    Card,

  },
  data(){
    return{
      contents:[
        {id:1, title: 'Алисова Наталья Семеновна', text: 'Учитель русского языка и литературы МБОУ гимназии имени Героя Советского Союза П.А.Горчакова', image: Image1},
        {id: 2, title: 'Борщева Елена Васильевна', text: 'Врач общей практики (семейный врач) Центра общей врачемной (семейной)практики с. Ситовка ГУЗ «Липецкая РБ»', image: Image2},
        {id:3, title: 'Алисова Наталья Семеновна', text: 'Учитель русского языка и литературы МБОУ гимназии имени Героя Советского Союза П.А.Горчакова', image: Image1},
        {id: 4, title: 'Борщева Елена Васильевна', text: 'Врач общей практики (семейный врач) Центра общей врачемной (семейной)практики с. Ситовка ГУЗ «Липецкая РБ»', image: Image2},
        {id:5, title: 'Алисова Наталья Семеновна', text: 'Учитель русского языка и литературы МБОУ гимназии имени Героя Советского Союза П.А.Горчакова', image: Image1}
      ]
    }
  },
  props:{
    title:{
      type:Object,
      required: true
    }
  }
}
</script>

<style scoped>
  h1{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.14vw;
  }
</style>