<template>
  <div id="My_card">
    <figure>
      <img :src="card.image">
      <figcaption>
        <h1>{{card.title}}</h1>
        <p>{{card.text}}</p>
      </figcaption>
    </figure>
  </div>
</template>

<script>
export default {
  name: "Card",
  props:{
    card:{
      type:Object,
      required: true
    },
    index: Number
  }
}
</script>

<style scoped>
  figure{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
  }
  h1{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 0.93vw;
  }
  p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 0.83vw;
  }
  img{
    width: 9.94vw;
    height: 10.70vw;
  }
  figcaption{
    width: 50vw;
    margin: 0 0 0 1vw;
  }
  @media (max-width: 480px) {
    figure{
      flex-direction: column;
    }
    figcaption{
      margin: 0 0 0 0vw;
    }
  }
</style>