<template>
  <div>
    <form>
      <aside>
        <ul>
          <li>
            <button type="button" @click="change('Общие сведения')">Общие сведения</button>
          </li>
          <li>
            <button type="button" @click="change('История района')">История района</button>
          </li>
          <li>
            <button type="button" @click="change('Символика')">Символика</button>
          </li>
          <li>
            <button type="button" @click="change('Люди района')">Люди района</button>
          </li>
          <li>
            <button type="button" @click="change('Мероприятия')">Мероприятия</button>
          </li>
        </ul>
      </aside>
      <main>
        <Content v-bind:title="title"></Content>
      </main>
    </form>
  </div>
</template>

<script>
import Content from "@/components/District/content/content";
export default {
  name: "District",
  components:{
    Content
  },
  data(){
    return{
      title:{text: 'Люди района'}
    }
  },
  methods:{
    change(text){
      this.title.text=text
    }
  }
}
</script>

<style scoped>
  ul{
    display: flex;
    flex-direction: column;
    margin: 0 3vw 0 0;
  }
  button{
    width: 12.5vw;

  }
  form{
    display: flex;
    flex-direction: row;
  }
  div{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 12.5vw;
    height: 2.80vw;
    background: white;
    border: 1px solid #E8E8E8;
    font-family: Inter;
    font-style: revert;
    font-size: 0.83vw;
  }
  button:hover{
    background: #E9E7E7;
  }
  button:active {

  }
  button:focus{
    background: #E9E7E7;
    outline:none;
  }
</style>