<template>
  <div id="app">
    <header class="haeder">
      <article class="header-figure-social">
        <figure class="header-main-figure">
          <svg display="none">
            <symbol id="main-icon" viewBox="0 0 87.5 115">
              <path d="M0 113.555C0 114.805 1.13293 115.748 2.36179 115.522L42.2292 108.19C42.4623 108.147 42.7011 108.146 42.9345 108.186L85.1564 115.548C86.3799 115.761 87.5 114.82 87.5 113.578V2C87.5 0.89543 86.6045 0 85.5 0H2C0.895431 0 0 0.89543 0 2V113.555Z" fill="#972426"/>
              <path d="M54.2881 40.214C54.5807 39.846 54.4893 39.1466 54.2881 38.3553C53.6296 38.9258 52.9893 39.3307 52.3125 39.2387C51.6723 39.0547 51.0687 39.0178 50.5199 39.1834C50.7577 38.613 51.0321 38.0794 51.3431 37.5825C47.3188 36.0551 43.1849 36.0183 38.9412 37.5825C40.2399 39.6252 40.8801 42.4223 41.1911 45.5875C39.2521 46.8757 37.9717 49.1024 37.9717 51.6051C37.9717 54.3102 39.4533 56.6474 41.6301 57.8988V59.3158C41.6301 60.5487 48.6542 60.5487 48.6542 59.3158V57.8988C50.8309 56.6658 52.3125 54.3102 52.3125 51.6051C52.3125 51.5683 52.3125 51.5499 52.3125 51.5131C53.0625 51.4947 53.7027 51.4027 54.1783 51.1634C50.9772 48.992 58.2391 43.6553 54.2881 40.214ZM51.2333 47.8143C50.6846 46.9309 49.9529 46.158 49.0749 45.5875C49.1846 44.5018 49.331 43.4529 49.5322 42.4591L50.7394 42.7352C51.087 38.8707 56.7392 42.0175 51.2333 47.8143Z" fill="white"/>
              <path d="M57.1606 67.3576V65.0757H32.6494V65.5357C37.2773 67.7808 41.1734 70.2284 42.0698 73.4488C40.8625 74.2033 38.2467 78.8775 38.1187 79.1352H53.5937C53.4656 78.8775 50.8499 74.1849 49.6426 73.4488H49.606C50.9962 69.9707 53.4839 67.8912 57.1606 67.3576Z" fill="white"/>
              <path d="M18.6191 26.4121V32.7242V64.5971V78.0861V81.1961C18.6191 83.9012 20.613 86.1279 23.2104 86.4592H38.7037C38.9415 86.4592 39.161 86.4775 39.3805 86.4959H39.3622C41.4475 86.772 43.1486 88.2625 43.7339 90.25H44.2095C44.7949 88.2625 46.496 86.772 48.5813 86.4959H48.5996C48.8191 86.4591 49.0569 86.4592 49.2947 86.4592H64.7514C67.3488 86.1279 69.3609 83.8828 69.3609 81.1961V78.0861V64.5971V32.7242V26.4121H18.6191ZM62.6112 66.5662H62.5746C62.5746 66.5662 62.5746 66.5662 62.5563 66.5662V73.6143C62.5563 75.8409 60.7637 77.626 58.5687 77.626H54.1786C54.2152 77.7916 55.0566 80.0551 55.0566 80.0551H36.655C36.655 80.0551 37.4964 77.7916 37.533 77.626H29.3931C27.1798 77.626 25.4054 75.8225 25.4054 73.6143V67.063C25.2591 66.879 25.1128 66.7134 24.9664 66.5293L24.6921 66.1981C23.9421 65.278 23.1189 64.321 22.0946 63.4745L21.2349 62.7568L22.0946 62.0392C23.1189 61.1927 23.9421 60.2358 24.6921 59.3156L24.9664 58.9843C25.1128 58.8003 25.2591 58.6347 25.4054 58.4507V33.3683H62.5746V58.9476C62.5746 58.9476 62.5746 58.9476 62.5929 58.9476H62.6295C64.6416 59.0396 66.233 60.7142 66.233 62.7384C66.233 64.7627 64.6416 66.4742 62.6112 66.5662Z" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M62.4285 59.9048H62.5748C64.093 59.9784 65.3003 61.2298 65.3186 62.7756C65.3186 64.303 64.1113 65.5727 62.5931 65.6464H62.4468C61.2578 65.6464 60.2152 64.9102 59.7944 63.8613V67.505H58.3677V63.8797H30.8383C26.2471 64.0453 33.8382 71.5351 32.9968 67.3577C34.7894 67.7258 35.9601 68.922 36.5454 69.8789C35.393 70.6518 33.8931 71.1118 32.0273 71.2407C32.4663 70.7622 32.6675 70.3942 32.7407 70.0813C29.1457 70.2218 27.4987 68.2182 25.6394 65.9563C25.5498 65.8474 25.4598 65.7378 25.3691 65.6279C24.5642 64.6526 23.7228 63.6589 22.6436 62.7756C23.7228 61.8739 24.5642 60.8801 25.3691 59.9232C25.4598 59.8133 25.5498 59.7038 25.6394 59.5948C27.4987 57.333 29.1457 55.3293 32.7407 55.4698C32.6858 55.157 32.4846 54.7889 32.0273 54.3105C33.8931 54.4577 35.393 54.9177 36.5454 55.6722C35.9601 56.6292 34.7894 57.8438 32.9968 58.1934C33.8382 53.9977 26.2471 61.5058 30.8383 61.6714H58.3494V58.0461H59.7761V61.6898C60.2152 60.6409 61.2395 59.9048 62.4285 59.9048ZM62.4287 64.4868H62.5567C63.4347 64.4132 64.1298 63.6771 64.1298 62.7754C64.1298 61.8736 63.4347 61.1192 62.5567 61.0639H62.4287C61.4958 61.0639 60.7275 61.8368 60.7275 62.7754C60.7275 63.7139 61.4958 64.4868 62.4287 64.4868Z" fill="white"/>
              <path d="M18.6191 26.4121V32.7242V64.5971V78.0861V81.1961C18.6191 83.9012 20.613 86.1279 23.2104 86.4592H38.7037C38.9415 86.4592 39.161 86.4775 39.3805 86.4959H39.3622C41.4475 86.772 43.1486 88.2625 43.7339 90.25H44.2095C44.7949 88.2625 46.496 86.772 48.5813 86.4959H48.5996C48.8191 86.4591 49.0569 86.4592 49.2947 86.4592H64.7514C67.3488 86.1279 69.3609 83.8828 69.3609 81.1961V78.0861V64.5971V32.7242V26.4121H18.6191Z" stroke="white" stroke-width="0.768788" stroke-miterlimit="10" fill="none"/>
            </symbol>
          </svg>
          <svg class="main-icon">
            <use xlink:href="#main-icon"></use>
          </svg>
          <figcaption>
            <h1 class="header-main-label">Липецкий район</h1>
            <p class="header-main-p">официальный сайт органов местного самоуправления Липецкого <br> муниципального района Липецкой области</p>
          </figcaption>
        </figure>
        <article class="social-network">
          <a href="https://vk.com/" target="_blank" rel="noopener">
            <svg class="vk">
              <use xlink:href="#vk"></use>
            </svg>
          </a>
          <svg display="none">
            <symbol id="vk" viewBox="0 0 36 36">
              <rect width="36" height="36" rx="2" fill="#507299"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M17.764 22.9537H19.0791C19.0791 22.9537 19.4761 22.9156 19.6788 22.7243C19.866 22.548 19.8598 22.2178 19.8598 22.2178C19.8598 22.2178 19.8342 20.6716 20.6529 20.4435C21.46 20.2188 22.497 21.9379 23.5954 22.599C24.4266 23.0994 25.0582 22.9898 25.0582 22.9898L27.996 22.9537C27.996 22.9537 29.5325 22.8707 28.8039 21.812C28.7441 21.7255 28.379 21.0284 26.6195 19.5966C24.777 18.0981 25.024 18.3404 27.2433 15.7478C28.5942 14.1697 29.1348 13.2056 28.9655 12.793C28.8047 12.3995 27.8111 12.5037 27.8111 12.5037L24.5027 12.5214C24.5027 12.5214 24.2573 12.4921 24.0755 12.5874C23.8984 12.6807 23.7842 12.8985 23.7842 12.8985C23.7842 12.8985 23.2599 14.12 22.5623 15.1589C21.0895 17.3512 20.4999 17.4669 20.2591 17.3308C19.699 17.0135 19.8388 16.0569 19.8388 15.3768C19.8388 13.2519 20.207 12.3661 19.1234 12.1367C18.7637 12.0611 18.4988 12.0107 17.5791 12.0026C16.3991 11.9917 15.4002 12.0053 14.8347 12.2484C14.4579 12.4097 14.1674 12.7699 14.3445 12.7903C14.5628 12.8162 15.0584 12.9074 15.3209 13.2206C15.6596 13.625 15.648 14.5325 15.648 14.5325C15.648 14.5325 15.843 17.0332 15.1928 17.3444C14.7469 17.5568 14.1355 17.1224 12.822 15.133C12.1493 14.1145 11.6412 12.9884 11.6412 12.9884C11.6412 12.9884 11.5434 12.778 11.3686 12.665C11.1565 12.5289 10.8605 12.4853 10.8605 12.4853L7.71683 12.5037C7.71683 12.5037 7.24531 12.5152 7.07208 12.695C6.9175 12.855 7.05965 13.1859 7.05965 13.1859C7.05965 13.1859 9.52056 18.2322 12.307 20.7751C14.8626 23.1069 17.764 22.9537 17.764 22.9537" fill="white"/>
            </symbol>
          </svg>
          <a href="https://ru-ru.facebook.com/" target="_blank" rel="noopener">
            <svg class="facebook">
            <use xlink:href="#facebook"></use>
          </svg>
          </a>
          <svg display="none">
            <symbol id="facebook" viewBox="0 0 36 36">
              <rect width="36" height="36" rx="2" fill="#365899"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.0329 12.5802C20.3457 12.5802 21.9547 12.5802 21.9547 12.5802V10.0093L19.3076 10C16.3677 10 15.6996 11.9192 15.6996 13.1438V14.8578H14V17.5052H15.6996C15.6996 20.9053 15.6996 25 15.6996 25H19.2743C19.2743 25 19.2743 20.8659 19.2743 17.5052H21.6872L22 14.8578H19.2743V13.3015C19.2743 12.717 19.7202 12.5802 20.0329 12.5802" fill="white"/>
            </symbol>
          </svg>
          <a href="https://www.instagram.com/" target="_blank" rel="noopener">
            <svg class="insta">
            <use xlink:href="#insta"></use>
          </svg>
          </a>
          <svg display="none">
            <symbol id="insta" viewBox="0 0 24 24">
              <path d="m4.75 24h14.5c2.619 0 4.75-2.131 4.75-4.75v-14.5c0-2.619-2.131-4.75-4.75-4.75h-14.5c-2.619 0-4.75 2.131-4.75 4.75v14.5c0 2.619 2.131 4.75 4.75 4.75zm-3.25-19.25c0-1.792 1.458-3.25 3.25-3.25h14.5c1.792 0 3.25 1.458 3.25 3.25v14.5c0 1.792-1.458 3.25-3.25 3.25h-14.5c-1.792 0-3.25-1.458-3.25-3.25z"/><path d="m12 18.13c3.38 0 6.13-2.75 6.13-6.13s-2.75-6.13-6.13-6.13-6.13 2.75-6.13 6.13 2.75 6.13 6.13 6.13zm0-10.76c2.553 0 4.63 2.077 4.63 4.63s-2.077 4.63-4.63 4.63-4.63-2.077-4.63-4.63 2.077-4.63 4.63-4.63z"/><path d="m18.358 7.362c.986 0 1.729-.74 1.729-1.721 0-1.023-.782-1.721-1.728-1.721-.986 0-1.729.74-1.729 1.721 0 1.021.778 1.721 1.728 1.721zm.177-1.886c.316.279-.405.618-.405.166 0-.27.367-.2.405-.166z"/>
            </symbol>
          </svg>
        </article>
      </article>
      <nav class="header-navigation">
        <ul class="navigation">
          <li>
            <router-link to="/District">Район</router-link>
          </li>
          <li>
            <router-link to="/Authorities">Органы власти</router-link>
          </li>
          <li>
            <router-link to="/RuralSettlements">Сельские поселения</router-link>
          </li>
          <li>
            <router-link to="/Documents">Документы</router-link>
          </li>
          <li>
            <router-link to="/Investor">Инвестору</router-link>
          </li>
          <li>
            <router-link to="/Reception">Приемная</router-link>
          </li>
          <li>
            <router-link to="/Contacts">Контакты</router-link>
          </li>
        </ul>
        <ul class="style_for_main_menu_svg">
          <svg display="none">
            <symbol id="icon_main_menu" viewBox="0 0 147.37 30">
              <path d="M70.6141 23.0887C75.5037 23.0887 79.4675 19.0591 79.4675 14.0883C79.4675 9.11751 75.5037 5.08789 70.6141 5.08789C65.7245 5.08789 61.7607 9.11751 61.7607 14.0883C61.7607 19.0591 65.7245 23.0887 70.6141 23.0887Z" stroke="#BFBFC0" stroke-width="3" fill="#FFF"/>
              <path d="M76.8359 20.621L81.3921 25.489" stroke="#BFBFC0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M116.593 15.0003C118.242 17.1139 123.152 22.4924 130.38 22.4924C137.606 22.4924 142.515 17.1154 144.167 15.0003C142.515 12.8861 137.606 7.50822 130.38 7.50822C123.153 7.50822 118.243 12.8861 116.593 15.0003ZM130.379 25.4889C119.896 25.4889 113.884 16.2317 113.633 15.8376C113.311 15.3311 113.311 14.6696 113.633 14.1631C113.884 13.769 119.896 4.51105 130.379 4.51105C140.862 4.51105 146.874 13.769 147.126 14.1631C147.448 14.6696 147.448 15.3311 147.126 15.8376C146.874 16.2317 140.862 25.4889 130.379 25.4889Z" fill="#BCBCBC"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M128.433 13.6379C127.286 13.6379 126.355 12.6654 126.355 11.4671C126.355 10.2697 127.286 9.29633 128.433 9.29633C129.58 9.29633 130.51 10.2697 130.51 11.4671C130.51 12.6654 129.58 13.6379 128.433 13.6379ZM123.731 13.6364C123.731 17.4744 126.706 20.5829 130.379 20.5829C134.052 20.5829 137.027 17.4744 137.027 13.6364C137.027 9.79934 134.052 6.68991 130.379 6.68991C126.706 6.68991 123.731 9.79934 123.731 13.6364Z" fill="#BCBCBC"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 10V7.5H26.25V10H3.75ZM3.75 16.25H26.25V13.75H3.75V16.25ZM3.75 22.5H26.25V20H3.75V22.5Z" fill="#BFBFC0"/>
            </symbol>
          </svg>
          <svg class="icon_main_menu">
            <use xlink:href="#icon_main_menu"></use>
          </svg>
        </ul>
      </nav>

    </header>

    <main>
      <router-view></router-view>
    </main>

    <footer class="footer">
      <form class="footer-form-up">
        <figure class="footer-main-figure">
          <svg display="none">
            <symbol id="main-icon" viewBox="0 0 87.5 115">
              <path d="M0 113.555C0 114.805 1.13293 115.748 2.36179 115.522L42.2292 108.19C42.4623 108.147 42.7011 108.146 42.9345 108.186L85.1564 115.548C86.3799 115.761 87.5 114.82 87.5 113.578V2C87.5 0.89543 86.6045 0 85.5 0H2C0.895431 0 0 0.89543 0 2V113.555Z" fill="#972426"/>
              <path d="M54.2881 40.214C54.5807 39.846 54.4893 39.1466 54.2881 38.3553C53.6296 38.9258 52.9893 39.3307 52.3125 39.2387C51.6723 39.0547 51.0687 39.0178 50.5199 39.1834C50.7577 38.613 51.0321 38.0794 51.3431 37.5825C47.3188 36.0551 43.1849 36.0183 38.9412 37.5825C40.2399 39.6252 40.8801 42.4223 41.1911 45.5875C39.2521 46.8757 37.9717 49.1024 37.9717 51.6051C37.9717 54.3102 39.4533 56.6474 41.6301 57.8988V59.3158C41.6301 60.5487 48.6542 60.5487 48.6542 59.3158V57.8988C50.8309 56.6658 52.3125 54.3102 52.3125 51.6051C52.3125 51.5683 52.3125 51.5499 52.3125 51.5131C53.0625 51.4947 53.7027 51.4027 54.1783 51.1634C50.9772 48.992 58.2391 43.6553 54.2881 40.214ZM51.2333 47.8143C50.6846 46.9309 49.9529 46.158 49.0749 45.5875C49.1846 44.5018 49.331 43.4529 49.5322 42.4591L50.7394 42.7352C51.087 38.8707 56.7392 42.0175 51.2333 47.8143Z" fill="white"/>
              <path d="M57.1606 67.3576V65.0757H32.6494V65.5357C37.2773 67.7808 41.1734 70.2284 42.0698 73.4488C40.8625 74.2033 38.2467 78.8775 38.1187 79.1352H53.5937C53.4656 78.8775 50.8499 74.1849 49.6426 73.4488H49.606C50.9962 69.9707 53.4839 67.8912 57.1606 67.3576Z" fill="white"/>
              <path d="M18.6191 26.4121V32.7242V64.5971V78.0861V81.1961C18.6191 83.9012 20.613 86.1279 23.2104 86.4592H38.7037C38.9415 86.4592 39.161 86.4775 39.3805 86.4959H39.3622C41.4475 86.772 43.1486 88.2625 43.7339 90.25H44.2095C44.7949 88.2625 46.496 86.772 48.5813 86.4959H48.5996C48.8191 86.4591 49.0569 86.4592 49.2947 86.4592H64.7514C67.3488 86.1279 69.3609 83.8828 69.3609 81.1961V78.0861V64.5971V32.7242V26.4121H18.6191ZM62.6112 66.5662H62.5746C62.5746 66.5662 62.5746 66.5662 62.5563 66.5662V73.6143C62.5563 75.8409 60.7637 77.626 58.5687 77.626H54.1786C54.2152 77.7916 55.0566 80.0551 55.0566 80.0551H36.655C36.655 80.0551 37.4964 77.7916 37.533 77.626H29.3931C27.1798 77.626 25.4054 75.8225 25.4054 73.6143V67.063C25.2591 66.879 25.1128 66.7134 24.9664 66.5293L24.6921 66.1981C23.9421 65.278 23.1189 64.321 22.0946 63.4745L21.2349 62.7568L22.0946 62.0392C23.1189 61.1927 23.9421 60.2358 24.6921 59.3156L24.9664 58.9843C25.1128 58.8003 25.2591 58.6347 25.4054 58.4507V33.3683H62.5746V58.9476C62.5746 58.9476 62.5746 58.9476 62.5929 58.9476H62.6295C64.6416 59.0396 66.233 60.7142 66.233 62.7384C66.233 64.7627 64.6416 66.4742 62.6112 66.5662Z" fill="white"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M62.4285 59.9048H62.5748C64.093 59.9784 65.3003 61.2298 65.3186 62.7756C65.3186 64.303 64.1113 65.5727 62.5931 65.6464H62.4468C61.2578 65.6464 60.2152 64.9102 59.7944 63.8613V67.505H58.3677V63.8797H30.8383C26.2471 64.0453 33.8382 71.5351 32.9968 67.3577C34.7894 67.7258 35.9601 68.922 36.5454 69.8789C35.393 70.6518 33.8931 71.1118 32.0273 71.2407C32.4663 70.7622 32.6675 70.3942 32.7407 70.0813C29.1457 70.2218 27.4987 68.2182 25.6394 65.9563C25.5498 65.8474 25.4598 65.7378 25.3691 65.6279C24.5642 64.6526 23.7228 63.6589 22.6436 62.7756C23.7228 61.8739 24.5642 60.8801 25.3691 59.9232C25.4598 59.8133 25.5498 59.7038 25.6394 59.5948C27.4987 57.333 29.1457 55.3293 32.7407 55.4698C32.6858 55.157 32.4846 54.7889 32.0273 54.3105C33.8931 54.4577 35.393 54.9177 36.5454 55.6722C35.9601 56.6292 34.7894 57.8438 32.9968 58.1934C33.8382 53.9977 26.2471 61.5058 30.8383 61.6714H58.3494V58.0461H59.7761V61.6898C60.2152 60.6409 61.2395 59.9048 62.4285 59.9048ZM62.4287 64.4868H62.5567C63.4347 64.4132 64.1298 63.6771 64.1298 62.7754C64.1298 61.8736 63.4347 61.1192 62.5567 61.0639H62.4287C61.4958 61.0639 60.7275 61.8368 60.7275 62.7754C60.7275 63.7139 61.4958 64.4868 62.4287 64.4868Z" fill="white"/>
              <path d="M18.6191 26.4121V32.7242V64.5971V78.0861V81.1961C18.6191 83.9012 20.613 86.1279 23.2104 86.4592H38.7037C38.9415 86.4592 39.161 86.4775 39.3805 86.4959H39.3622C41.4475 86.772 43.1486 88.2625 43.7339 90.25H44.2095C44.7949 88.2625 46.496 86.772 48.5813 86.4959H48.5996C48.8191 86.4591 49.0569 86.4592 49.2947 86.4592H64.7514C67.3488 86.1279 69.3609 83.8828 69.3609 81.1961V78.0861V64.5971V32.7242V26.4121H18.6191Z" stroke="white" stroke-width="0.768788" stroke-miterlimit="10" fill="none"/>
            </symbol>
          </svg>
          <svg class="main-icon">
            <use xlink:href="#main-icon"></use>
          </svg>
          <figcaption>
            <h1 class="footer-main-label">Липецкий район</h1>
            <p class="footer-main-p">официальный сайт органов местного <br> самоуправления Липецкого муниципального района <br> Липецкой области</p>
          </figcaption>
        </figure>
        <ul class="footer-info">
          <ul class="__footer-info">
            <li>
              <p class="footer-info-p">Органы власти</p>
            </li>
            <li>
              <p class="footer-info-p">Район</p>
            </li>
          </ul>
          <ul class="__footer-info">
            <li>
              <p class="footer-info-p">Сельские поселения</p>
            </li>
            <li>
              <p class="footer-info-p">Документы</p>
            </li>
          </ul>
          <ul class="__footer-info">
            <li>
              <p class="footer-info-p">Инвестору</p>
            </li>
            <li>
              <p class="footer-info-p">Приемная</p>
            </li>
          </ul>
          <ul class="__footer-info">
            <li>
              <p class="footer-info-p">Контакты</p>
            </li>
            <li>
              <p class="footer-info-p">Меню</p>
            </li>
          </ul>
        </ul>
      </form>
      <form class="footer-form-down">
        <article class="footer-addres-phone">
          <figure>
            <svg display="none">
              <symbol id="phone" viewBox="0 0 87.5 115">
                <path d="M3.62 8.61422C5.06 11.4442 7.38 13.7542 10.21 15.2042L12.41 13.0042C12.68 12.7342 13.08 12.6442 13.43 12.7642C14.55 13.1342 15.76 13.3342 17 13.3342C17.55 13.3342 18 13.7842 18 14.3342V17.8242C18 18.3742 17.55 18.8242 17 18.8242C7.61 18.8242 0 11.2142 0 1.82422C0 1.27422 0.45 0.824219 1 0.824219H4.5C5.05 0.824219 5.5 1.27422 5.5 1.82422C5.5 3.07422 5.7 4.27422 6.07 5.39422C6.18 5.74422 6.1 6.13422 5.82 6.41422L3.62 8.61422Z" fill="white"/>
              </symbol>
            </svg>
            <svg class="phone">
              <use xlink:href="#phone"></use>
            </svg>
            <figcaption>
              <p class="footer-phone-label">+7 (4742) 34-19-19</p>
              <p class="footer-mail-label">alr@admlr.lipetsk.ru.</p>
            </figcaption>
          </figure>
          <figure>
            <svg display="none">
              <symbol id="address" viewBox="0 0 87.5 115">
                <path d="M7.85059 0.620117C3.98059 0.620117 0.850586 3.75012 0.850586 7.62012C0.850586 12.8701 7.85059 20.6201 7.85059 20.6201C7.85059 20.6201 14.8506 12.8701 14.8506 7.62012C14.8506 3.75012 11.7206 0.620117 7.85059 0.620117ZM7.85059 10.1201C6.47059 10.1201 5.35059 9.00012 5.35059 7.62012C5.35059 6.24012 6.47059 5.12012 7.85059 5.12012C9.23059 5.12012 10.3506 6.24012 10.3506 7.62012C10.3506 9.00012 9.23059 10.1201 7.85059 10.1201Z" fill="white"/>
              </symbol>
            </svg>
            <svg class="address">
              <use xlink:href="#address"></use>
            </svg>
            <figcaption>
              <address class="footer-addres">398037, <br> г.Липецк, Боевой проезд, д. 30</address>
            </figcaption>
          </figure>
          <p class="footer-label-defender">все права защищены © 2016-2020 <br>
            При полном или частичном использовании информации ссылка обязательна</p>
        </article>
      </form>
    </footer>
  </div>
</template>

<script>


export default {
  name: 'App',
  data(){
    return{

    }
  }
}
</script>


<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    color: #2c3e50;
}
  .header-navigation{
    display: flex;
    flex-direction: row;
    height: 50px;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    margin-top: -0.5vw;
    margin-bottom: 2vw;
  }
  .navigation{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 12%;
    font-family: Inter;
    font-size: 0.83vw;
  }
  .header-figure-social{
    display: flex;
    flex-direction: row;
  }
  .social-network{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10vw;
    margin: 1vw 0 0 12.3vw;
    padding: 0;
  }
  .vk{
    width: 1.87vw;
    height: 1.87vw;
  }
  .facebook{
    width: 1.87vw;
    height: 1.87vw;
  }
  .insta{
    width: 1.87vw;
    height: 1.87vw;
  }
  .style_for_main_menu_svg{
    margin: 0.5vw 0 0 10.4vw
  }
  .icon_main_menu{
    width: 7.67vw;
    height: 1.56vw;
  }
  main{
    margin: 0 auto;
    padding: 0 0 2vw 0;
  }
  h1{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1.04vw;
}
  p{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.72vw;
}
  header{
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
  .header-main-figure{
  display: flex;
  flex-direction: row;
  width: 50vw;
  margin: 0 0 0 12.53vw;
  padding: 0 0 0 0;
}
  .header-main-label{
  margin: 1vw 0 0 1vw;
}
  .header-main-p{
  margin: 0.5vw 0 0 1vw;
}
  .main-icon{
  width: 4.55vw;
  height: 6.03vw;
}
  .footer{
    width: 100%;
    height: 331.05px;
    border: 0 solid #972426;
    background: #972426;
}
  .footer-form-up{
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 160.05px;
  border: none;
  border-bottom: 1px solid #333;

  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
  .footer-main-figure{
  display: flex;
  flex-direction: row;
  width: 22vw;
  margin: 0 0 0 0;
  padding: 1.3vw 0 0 12.53vw;
}
  .footer-main-label{
  color: #FFFFFF;
}
  .footer-main-p{
  color: #FFFFFF;
}
  .footer-info{
  display: flex;
  width: 30vw;
  flex-direction: row;
  margin: 1.3vw 0 0 27.44vw;
  padding: 0 0 0 0;
}
  .footer-info-p{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 0.83vw;
  margin: 1vw 0 0 0;
  color: #FFFFFF;
}
  .footer-form-down{
  width: 100%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
  .footer-addres-phone{
  display: flex;
  flex-direction: row;
  margin: 3vh 0 0 12vw;
  padding:  0 0 0 0;
}
  .phone{
  width: 4.55vw;
  height: 6.03vw;
}
  .footer-phone-label{
  margin: -6.5vw 0 0 2vw;
  color: #FFFFFF;
}
  .footer-mail-label{
  margin: 0 0 0 2vw;
  color: #FFFFFF;
}
  .address{
  width: 4.55vw;
  height: 6.03vw;
}
  .footer-addres{
  margin: -6.5vw 0 0 2vw;
  font-size: 0.78vw;
  color: #FFFFFF;
}
  .footer-label-defender{
  margin: 0 0 0 25vw;
  font-size: 0.78vw;
  font-style: normal;
  font-weight: normal;
  text-align: right;
  text-transform: lowercase;
  color: #FFFFFF;
}
</style>
